.appContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #282c34;
  overflow-y: visible;
  color: white;
  padding-bottom: 200px;
  overflow-x: hidden;
}